<section class="content">
    <div class="content-container full-screen-height">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="block-container">
                        <div class="container-heading content-header-color">
                            <h4> Редактирование базы данных</h4>
                        </div>
                        <div class="container-elements clearfix clearfix last-container">

                            <div class="col-md-12">
                                <div class="">

                                    <!--Start information section-->

                                    <div *ngIf="false" class="col-md-12">
                                        <div class="current-status bg-success">
                                            <h3>Изменения успешно сохранены</h3>
                                        </div>
                                    </div>
                                    <!--End information section-->
                                    <br>



                                    <router-outlet> </router-outlet>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>