<div class="col-md-12">
    <a (click)="back()">←назад</a>
    <h1>{{ meteostation }}</h1>
</div>

<div *ngIf="info && info.length > 0; else notFound">
    <div class="col-md-12">
        <h2>Температура</h2>

        <table class="table table-hover table-responsive table-temperature">
            <thead>
            <tr>
                <th>Год</th>
                <th>Январь</th>
                <th>Февраль</th>
                <th>Март</th>
                <th>Апрель</th>
                <th>Май</th>
                <th>Июнь</th>
                <th>Июль</th>
                <th>Август</th>
                <th>Сентябрь</th>
                <th>Октябрь</th>
                <th>Ноябрь</th>
                <th>Декабрь</th>
                <th>Среднее</th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let item of info">
                <td>{{item.Year}}</td>
                <td *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12]">
                    {{item['T'+i]}}
                </td>
                <td>{{getAverage(item)}}</td>

            </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-12">
        <h2>Осадки</h2>
        <table class="table table-hover table-responsive precipitation-table">
            <thead>
            <tr>
                <th>Год</th>
                <th>Январь</th>
                <th>Февраль</th>
                <th>Март</th>
                <th>Апрель</th>
                <th>Май</th>
                <th>Июнь</th>
                <th>Июль</th>
                <th>Август</th>
                <th>Сентябрь</th>
                <th>Октябрь</th>
                <th>Ноябрь</th>
                <th>Декабрь</th>
                <th style="white-space: pre">Сумма</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of info">
                <td>{{item.Year}}</td>
                <td *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12]">
                    {{item['P'+i]}}
                </td>
                <td>{{getSum(item)}}</td>

            </tr>
            </tbody>
        </table>
        <br>

    </div>
</div>

<ng-template #notFound>
    <div class="row">
        <div class="container">
            <div class="col-md-12">
                <h3>Год отсутствует в базе данных</h3>
                <br>
            </div>
        </div>
    </div>
</ng-template>

